<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

    <title>Criar Conta</title>
</head>
<body>
    <div>
        <button onclick="voltar()" class="voltar">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <form action="{{ url_for('criar_conta') }}" method="POST">
            <h2>Criar Conta</h2>
            
            <input type="text" name="nome" id="nome" required placeholder="Nome">
            <br><br>

            <input type="email" name="email" id="email" required placeholder="exemplo@gmail.com" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <br><br>

            <input type="password" name="senha" id="senha" required placeholder="Senha">
            <br><br>
             <input type="password" name="senha_confirmacao" id="senha_confirmacao" required placeholder="Confirme sua senha">
<br><br>


            <input type="submit" name="submit" id="submit" value="Criar Conta">
        </form>
    </div>

    <script>
    function voltar() {
        window.history.back();
    }
    </script>
</body>
</html>