<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo Desbravadores.png') }}" type="image/x-icon">
    <title>{{ nome }} - Detalhes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('diretoria') }}">Voltar para a Diretoria</a>
        </nav>
        <br>
    </header>

    <div class="conteudo-membro">
        <h2>Detalhes de {{ nome }}</h2>
        <hr>
        <ul>
            <li><strong>ID:</strong> {{ id }}</li>
            <li><strong>Nome:</strong> {{ nome }}</li>
            <li><strong>Email:</strong> {{ email }}</li>
            <li><strong>Cargo:</strong> {{ cargo }}</li>
            <li><strong>Data de Nascimento:</strong> {{ data_nasc }}</li>
        </ul>
        <br>
        <hr>

        <h3>Especialidades:</h3>
        {% if especialidades %}
            <table>
                <thead>
                    <tr>
                        <th>Especialidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialidade in especialidades %}
                        <tr>
                            <td>{{ especialidade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Este membro não tem especialidades cadastradas.</p>
        {% endif %}
        <br>
        <hr>
    </div>
</body>
</html>
